<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'navbar.html' %}

    <main class="container-fuild shadow-lg p-3 mb-5 bg-body rounded" style="width: 95%; margin: auto;">
        <p style="text-align: center; font-size: 30px;">問題回報紀錄</p>
        <table class="table table-bordered" style="margin-left:auto; margin-right:auto;text-align: center; ">
            <tr>
                <th>index</th>
                <th>姓名</th>
                <th>房號</th>
                <th>內容</th>


            </tr>
            <!-- https://stackoverflow.com/questions/45699660/jinja2-reverse-a-list 迴圈反轉 -->
            <!-- https://stackoverflow.com/questions/48079216/add-limit-for-list-in-for-loop-django-template 限制筆數 -->
            <!-- https://stackoverflow.com/questions/12145434/how-to-output-loop-counter-in-python-jinja-template loop迴圈index -->
            {% for i in u|reverse %}
            {% if loop.index <= 5%}
            <tr>
                <td >{{loop.index}}</td>
                <td class="col-md-1">{{ i[0][0] }}同學</td>
                <td class="col-md-1">{{ i[2] }}</td>
                <td class="col-md-9">{{ i[1] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <p style="text-align: center;">只顯示前5筆</p>
    </main>
    {% include 'navbar_bottom.html' %}

</body>

</html>