<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% include 'navbar.html' %}
    <main class="container " >

        <form action="" method="post">
            <div class="form-group">
                <!-- https://getbootstrap.com/docs/4.3/components/forms/ -->
                <p></p>
                <div class="mb-3 row">
                    <label for="exampleInputPassword1" class="col-sm-2 col-form-label">輸入IP位置:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="" name="ip" placeholder="ex :10.10.66.30" required>
                    </div>
                    <p></p>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
    {% include 'navbar_bottom.html' %}

</body>

</html>