<div class="container-fuild sticky-top">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <nav class="navbar navbar-light navbar-expand-md shadow p-3 mb-5 rounded "
        style="background-color: rgb(180, 135, 135); ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">宿舍網路小可愛</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navvbaraa">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navvbaraa">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">主頁</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/ip">使用IP查詢</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/room">使用房號查詢</a></li>

                    <li class="nav-item active"><a class="nav-link" href="/feedback">問題回報</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/feedback/query">問題回報紀錄</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- https://ithelp.ithome.com.tw/articles/10223125?sc=rss.iron jinja2 的模板設定 -->
<!-- https://ithelp.ithome.com.tw/articles/10212469 同上 -->