<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>query_page</title>
</head>

<body>
    <form method="post">
        <p>輸入房號床位(ex:6301D): <input type="text" name='room'> </p>
        <button type="submit">Submit</button>
    </form>
    <form action="" method="post">
        <p>輸入IP位置(ex:10.10.66.30): <input type="text" name="ip" id=""> </p>
        <button type="submit">Submit</button>
    </form>
</body>

</html>